@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");

$primary: #2d31ea;
$warning: #ffbd1d;
$danger: #ff4b33;
$grey-400: #ced4da;

$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "danger": $danger,
    "grey-400": $grey-400,
);

* {
    font-family: "Poppins", sans-serif;
}

.c-pointer {
    cursor: pointer;
}

// .bg-light-400 {
//     background-color: #ced4da;
// }

.v-avatar {
    width: 70px;
    height: 70px;
}

.bg-light {
    background-color: #e2e3e4;
}

.v-badge-success {
    background-color: rgba(40, 167, 69, 0.2);
}

.v-danger-badge {
    background-color: rgba(220, 53, 69, 0.5);
}

.badge-success {
    // background-color: rgba(40, 167, 69, 0.2)
    // background-color:
}

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

//  Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
//  BootstrapVue and its default variables
@import "../../../node_modules/bootstrap-vue/src/index.scss";
