// custom theme colors

$primary: #2d31ea;
$light-primary: #71bff4;
$warning: #fec952;
$danger: #ff4b33;
$success: #75debe;
$grey-400: #ced4da;
$purple: #50439f;
$light-blue: #eff9ff;
$light-yellow: #fdf5e8;

$theme-colors: (
    "primary": $primary,
    "light-primary": $light-primary,
    "warning": $warning,
    "danger": $danger,
    "success": $success,
    "grey-400": $grey-400,
    "purple": $purple,
    "light-blue": $light-blue,
    "light-yellow": $light-yellow,
);
